/* --- */

body {
	margin: 0;
	background: #87AEBF;
}

svg {
	background: white;
	display: block;
	margin: auto;
}

.province-boundary, .district-boundary, .subdistrict-boundary {
	fill: none;
}

.province-boundary {
	stroke: #224;
	stroke-width: 4;
}

.district-boundary {
	stroke: #cce;
	stroke-width: 2;
}

.subdistrict-boundary {
	stroke: #000;
	stroke-width: 0;
}

.province-label {
	fill: #777;
	font-weight: 300;
	text-anchor: middle;
}

text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	pointer-events: none;
} 

.facility {
	stroke: #e22;
	fill: #e22;
	fill-opacity: 0;
}

.fac-label {
	fill: #777;
	font-weight: 300;
	text-anchor: middle;
}

.display {
	font-size: 30px;
}